body {
    margin: 0;
}

.blog-body {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;
    background-color: rgb(0, 19, 47);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    padding: 100px 0 100px 0;
    margin: 0;
}

.main-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    max-width: 1200px;
    border-radius: 20px;
    border: 3px solid #c3c3c3;
    background-color: rgb(0, 0, 0);
}

.main-content-container h1 {
    color: white;
    font-size: 2em;
}

.main-content-container h2 {
    color: white;
    font-size: 1.2em;
    font-style: italic;
}

.main-content-container h3 {
    color: #6b6b6b;
    font-size: 0.8em;
    font-style: italic;
    margin-top: -20px;
}

.main-content-container p {
    font-size: 1em;
    max-width: 800px;
    color: white;
    line-height: 1.2;
}

.main-content-container a:link {
    color: rgb(179, 255, 245);
}

.main-content-container a:visited {
    color: rgb(255, 179, 223);
}

.main-content-container img {
    max-width: 800px;
    height: auto;
}

.code-snippet {
    font-family: 'Roboto Mono', monospace;
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}

span.code-snippet {
    padding: 3px;
}